apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "kserve-controller.fullname" . }}-leader-election
  labels:
  {{- include "kserve-controller.labels" . | nindent 4 }}
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "kserve-controller.fullname" . }}-manager
  labels:
  {{- include "kserve-controller.labels" . | nindent 4 }}
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - create
  - delete
  - get
  - list
  - update
  - watch
- apiGroups:
  - "batch"
  resources:
  - jobs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ai.krateo.io
  resources:
  - inferenceconfigs
  - inferenceruns
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ai.krateo.io
  resources:
  - inferenceconfigs/finalizers
  - inferenceruns/finalizers
  verbs:
  - update
- apiGroups:
  - ai.krateo.io
  resources:
  - inferenceconfigs/status
  - inferenceruns/status
  verbs:
  - get
  - patch
  - update
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "kserve-controller.fullname" . }}-runners
  labels:
  {{- include "kserve-controller.labels" . | nindent 4 }}
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - list